# Config file format version 1.0
[module_list]
set MODULE_PATH {$env(STADTCL)/pregap4/modules }
set MODULES {
	phred
	atqa
	eba
	convert_trace
	compress_trace
	init_exp
	augment_exp
	quality_clip
	sequence_vector_clip
	cross_match_svec
	screen_vector
	polyA
	cloning_vector_clip
	screen_seq
	blast
	interactive_clip
	repeat_masker
	hetins
	reference
	mutscan
	gap4_assemble
	cap3_assemble
	fakii_assemble
	phrap_assemble
	enter_assembly
	email
}

[::init]
set enabled 1
set use_sample_name 0

[::phred]
set enabled 0

[::atqa]
set enabled 0

[::eba]
set enabled 0

[::convert_trace]
set enabled 0

[::compress_trace]
set enabled 0

[::init_exp]
set enabled 1

[::augment_exp]
set enabled 1

[::quality_clip]
set enabled 0

[::sequence_vector_clip]
set enabled 0

[::cross_match_svec]
set enabled 0

[::screen_vector]
set enabled 0

[::polyA]
set enabled 0

[::cloning_vector_clip]
set enabled 0

[::screen_seq]
set enabled 0

[::blast]
set enabled 0

[::interactive_clip]
set enabled 0

[::repeat_masker]
set enabled 0

[::hetins]
set enabled 0

[::reference]
set enabled 0

[::mutscan]
set enabled 0

[::gap4_assemble]
set enabled 1
set database_name PRLP04
set database_version 0
set create 1
set min_match 15
set max_pads 25
set max_pmismatch 5.0
set enter_all 0
set gap4_maxseq 100000
set gap4_maxdb 8000

[::cap3_assemble]
set enabled 0

[::fakii_assemble]
set enabled 0

[::phrap_assemble]
set enabled 0

[::enter_assembly]
set enabled 0

[::email]
set enabled 0

[::shutdown]
set enabled 1

